.circle {
  height: 3rem;
  width: 3rem;
  background-color: #bcf3ff;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
