@layer tailwind-base, navikt-ds, tailwind-components, tailwind-utilities;
@import "tailwindcss/base" layer(tailwind-base);
@import "@navikt/ds-css" layer(navikt-ds);
@import "tailwindcss/components" layer(tailwind-components);
@import "tailwindcss/utilities" layer(tailwind-utilities);

html {
  /* Will be set programatically by dekoratøren */
  --decorator-sticky-offset: 0px;
}

@media print {
  html {
    font-size: 16px;
  }

  #decorator-header,
  #decorator-footer,
  ._hj_feedback_container {
    display: none;
  }
}
