.emobutton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  color: var(--a-gray-900);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.sinnaButton {
  composes: emobutton;
  &:hover {
    color: var(--a-red-500);
  }
}

.leiButton {
  composes: emobutton;
  &:hover {
    color: var(--a-orange-500);
  }
}

.noytralButton {
  composes: emobutton;
  &:hover {
    color: var(--a-blue-500);
  }
}

.gladButton {
  composes: emobutton;
  &:hover {
    color: var(--a-green-400);
  }
}

.veldigGladButton {
  composes: emobutton;
  &:hover {
    color: var(--a-green-700);
  }
}
